<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Techno</title>
</head>

<body>
    <div id="app">
        <section class="modal" v-if="produto" @click="fecharModal">
            <div class="modal_container">
                <div class="modal_img">
                    <img :src="produto.img" :alt="produto.nome">
                </div>
                <div class="modal_dados">
                    <button @click="produto = false" class="modal_fechar">X</button>
                    <span class="modal_preco">{{produto.preco}}</span>
                    <h2 class="modal_titulo">{{produto.nome}}</h2>
                    <p>{{produto.descricao}}</p>
                    <button class="modal_btn">Adicionar Item</button>
                </div>
                <div class="avaliacoes">
                    <h2 class="avaliacoes_subtitulo">
                        Avaliações
                    </h2>
                    <ul>
                        <li v-for="avaliacao in produto.avaliacoes" class="avaliacao">
                            <p class="avaliacao_descricao">{{avaliacao.descricao}}
                            </p>
                            <p class="avaliacao_usuario">{{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="produtos">
            <div v-for="item in produtos" @click="abrirModal(item.id)" :key="item.id" class="produto">
                <img :src="item.img" :alt="item.nome" class="produto_img">
                <div class="produto_info">
                    <span class="produto_preco">{{item.preco | numeroPreco}}</span>
                    <h2 class="produto_titulo">{{item.nome}}</h2>
                </div>
            </div>
        </section>
    </div>





    <script src="./app.js"></script>
</body>

</html>